<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<% @blog_posts.each do |post| %>
  <% if post.draft? %>
  <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
  <% end %>
  <h2><%= link_to post.title, post %></h2>
  <div> <%=image_tag post.cover_image if post.cover_image.attached?%></div>
  <%= post.body %>
<% end %>
<%#=link_to  %>

<%== pagy_nav(@pagy) %>
